# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# virtual env
venv/
.env
.env.*

# notebooks
.ipynb_checkpoints

# chroma database
data/
data/chroma_db/

# OS files
.DS_Store
Thumbs.db

# logs
*.log

# vscode
.vscode/

# mac
.DS_Store

# build
dist/
build/

# README.md
Context.md
features.txt